* {
    margin: 0;
    /* border: 1px solid ; */
}


h1 {
    font-size: 75px;
    text-align: center;
    padding: 25px;
    font-family: Bungee;
}

form {
    width: 100px;
    padding: -10px 0px 0px 0px;
}
#submit2 {
    width: 100px;
    padding: 0px 5px 0px 20px;
}

#movie {
    font-size: 45px;
    font-family: Bungee;
    padding-bottom: -900px;
}

.col{
    margin-top: 20px; 
    margin-left: -60px;  
    height: 250px;
    width: 65%;
}
.carousel-Inner {
    height: 500px;
    width: 400px;
}

img{
    height: 550px;
}
.carousel-item active{
    height: 500px;
}
.carousel-item {
    height: 100%;
    width: 350px;

}
.col-md {
    height: 800px;
}

#carasouelSlide {
    height: 9000px;
}

